@{
    Layout = "~/_xuejiLayout.cshtml";
    var db = Database.Open("ctXueji");
    if (Session["name"] == null || Session["username"] == null)
    {
        Response.Redirect("~/login.cshtml");
    }
    var list = "select *from classes inner join majors on classes.majors_id = majors.id inner join teachers on classes.teachers_id = teachers.id";
}
@if (Convert.ToInt16(Session["authority"]) == 3)
{
    list += " where teachers_name = " + "'" + Session["name"] + "'";
}
@if (Convert.ToInt16(Session["authority"]) == 1)
{
    var listCommand = "select classes_id from teachers where teachers_name = " + "'" + Session["name"] + "'";
    var cx = db.QuerySingle(listCommand);
    var jsskbj = (cx.classes_id).Split(',');
    <i><strong>班级（详情）</strong></i><br />
    <table id="table_id" class="display">
        <thead>
            <tr class="t">
                <th>班级</th>
                <th>课程</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in jsskbj)
            {
                list = "select * from classes inner join majors on classes.majors_id = majors.id inner join teachers on classes.teachers_id = teachers.id where classes.id = " + c;

                foreach (var row in db.Query(list))
                {
                    <tr class="t">
                        <td class="center">@row.classes_year@row.majors_name</td>
                        <td class="center">
                            @{
                                string temp = row.courses_id;
                                string[] temparry = temp.Split(',');
                            }
                            @foreach (var i in temparry)
                            {
                                var courseslist = "select *from courses where id=" + i;
                                var tp = db.QuerySingle(courseslist, i);
                                if (tp == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    <strong><a class="btn btn-primary" href="~/exams.cshtml?cid=@row.id&coid=@tp.id&name=@tp.courses_name">@tp.courses_name</a></strong><br />
                                }

                            }
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
}
else
{
    <i><strong>班级（详情）</strong></i><br />
    <table id="table_id" class="display">
        <thead>
            <tr class="t">
                <th>班级</th>
                <th>课程</th>
                @if (Convert.ToInt16(Session["authority"]) == 2)
                {
                    <th>操作</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in db.Query(list))
            {
                <tr class="t">
                    <td class="center">@row.classes_year@row.majors_name</td>
                    <td class="center">
                        @{
                            string temp = row.courses_id;
                            string[] temparry = temp.Split(',');
                        }
                        @foreach (var i in temparry)
                        {
                            var courseslist = "select *from courses where id=" + i;
                            var tp = db.QuerySingle(courseslist, i);
                            if (tp == null)
                            {
                                continue;
                            }
                            else
                            {
                                <strong><a class="btn btn-primary" href="~/examsall.cshtml?cid=@row.id&coid=@tp.id&name=@tp.courses_name">@tp.courses_name</a></strong><br />
                            }

                        }
                    </td>
                    @if (Convert.ToInt16(Session["authority"]) == 2)
                    {
                        <td class="center"><a class="btn btn-danger" href="~/delcourses.cshtml?id=@row.id">删除</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}