@{
    Layout = "~/_xuejiLayout.cshtml";
    var db = Database.Open("ctXueji");
    var id = Convert.ToInt16(Request.QueryString["id"]);
    var course = "select * from View_coursesArranging_one";
    var courses = course + " where id=" + id;
    var class_room = "select * from class_room";
    var cours_name = "select * from courses";
    var teacher_name = "select * from teachers where teachers_type not in (2)";
    var name = db.QuerySingle(courses);
    if (IsPost)
    {
        var room = Request.Form["room"];
        var cours = Request.Form["courses"];
        var teachers = Request.Form["teachers"];
        var update = "update coursesArranging set classroom_id =@0,courses_id=@1,teachers_id=@2 where id="+name.id;
        db.Execute(update, room, cours, teachers);
        Response.Redirect("classtime");
    }
}
<form method="post">
    <select name="room">
        @foreach (var room in db.Query(class_room))
        {
            <option value=@room.id @if (room.id == name.co_id) { @: selected="selected"
                    }>
                @room.class_name
            </option>
        }
    </select>
    <select name="courses">
        @foreach (var course_name in db.Query(cours_name))
        {
            <option value=@course_name.id @if (course_name.id == name.co_id) { @: selected="selected"
                    }>
                @course_name.courses_name
            </option>
        }
    </select>
    <select name="teachers">
        @foreach (var teachers in db.Query(teacher_name))
        {
            <option value=@teachers.id @if (teachers.id == name.t_id) { @: selected="selected"
                    }>
                @teachers.teachers_name
            </option>
        }
    </select>
    <input type="submit" value="提交" />
</form>