@{
    Layout = "~/_xuejiLayout.cshtml";
    var db = Database.Open("ctXueji");
    var list = "select * from teachers where status = 1";
    if (IsPost)
    {
        var name = Request.Form["radio"];
        var number = Request.Form["num"];
        var update = "update teachers set exempt = '" + number + "'where teachers_name = '" + name + "'";
        db.Execute(update);

        Response.Redirect("rollcall_add");
    }
}
<link rel="stylesheet" type="text/css" href="content/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="content/jquery-ui.theme.css">
<script src="scripts/jquery-3.3.1.min.js"></script>
<script src="scripts/jquery-ui.js"></script>

<script>
    $(function () {
        $("#radio").buttonset();
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2><font size="4">赦免</font></h2>
            <div class="alert alert-info">
                <form method="post">
                    <div id="radio">
                        <div>
                            <span>老师:</span>
                        
                        @foreach (var row in db.Query(list))
                        {

                            <input type="radio" name="radio" id="radio_@row.id" value=@row.teachers_name><label for="radio_@row.id">@row.teachers_name</label>

                        }
                        </div>
                                                                                                        
                        <div>
                            <span>课时次数:</span>
                        
                        @for (int i = 1; i <= 5; i++)
                        {
                            <input type="radio" name="num" id="num_@i" value=@i><label for="num_@i">@i</label>

                        }
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">提交</button>
                </form>
            </div>
        </div>
    </div>
</div>
