
@{
    Layout = "~/_xuejiLayout.cshtml";
    if (Session["name"] != null)
    {
        Response.Redirect("~/rollcall.cshtml");
    }
    var a = Request.QueryString["username"];
}
<style>
    h1 {
        font-weight: 900;
    }

    .divForm {
        position: absolute; /*绝对定位*/
        width: 400px;
        height: 200px;
        text-align: center; /*(让div中的内容居中)*/
        left: 50%;
        margin-left: -200px;
    }

    .form-group {
        width: 100%;
        overflow: hidden;
        display: flex;
    }

    .title_left {
        width: 100px;
        font-size: 18px;
    }

    .form-group input {
        width: 100%;
    }

    .btn btn-primary {
        left: 0%;
    }
</style>
@if (a == null)
{
    <div class="divForm">
        <h1>-欢迎来到学籍管理系统-</h1><br /><br />
        <form action="~/validate.cshtml" method="post">
            <div class="form-group">
                <label class="title_left" for="name">用户名:</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="请输入账户~">
            </div>
            <div class="form-group">
                <label class="title_left" for="number">密码:</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="请输入密码~">
            </div>
            <input class="btn btn-primary" type="submit" value="登录">
        </form>

    </div>
}
else
{
    <div class="divForm">
        <h1>-欢迎来到学籍管理系统-</h1><br />
        <font size="2" color=red>用户名或密码不正确。。请重试~</font>
        <br />
        <br />
        <form action="~/validate.cshtml" method="post">
            <div class="form-group">
                <label class="title_left" for="name">用户名:</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="请输入账户~" value=@a>
            </div>
            <div class="form-group">
                <label class="title_left" for="number">密码:</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="请输入密码~">
            </div>
            <input class="btn btn-primary" type="submit" value="登录">
        </form>

    </div>
}

