<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="autor" content="By 学生：江崟才 董权德 苏子豪 刘婉玥. 旁观教师：庄" />
<meta name="description" content="btw：感谢我的学生对于我的信任和理解，深感无力于江崟才那愚蠢的深沉自负、董权德的后发制人、苏子豪的真-不成熟、刘婉玥的虚荣病态，希望在未来的人生道路上，他们可以尽其所能的避免重蹈覆辙。" />
<title>校务管理系统 - Beta 0.1</title>
<script src="scripts/jquery-3.3.1.js"></script>
<link href="content/bootstrap.min.css" rel="stylesheet">
<link href="content/signin.css" rel="stylesheet">
<script>
var ut=1;
$(document).ready(function(e) {
    $(":radio").click(function () {
        if ($(this).attr("checked")) {
            ut=$(this).val();
                    // alert(ut);
        }
        });
            $("#btnSubmit").click(function() { //给按钮加点击事件
                //取用户名和密码和用户类型的临时变量
                var u = $("#username").val(); //取输入的用户名
                var p = $("#password").val(); //取输入的密码
                var ut = isNaN(u);
                //调ajax
                
                $.ajax({
                    url: "userMethods", //这就是要传给哪一个页去处理数据
                    data: { //这就是要传出的数据的数组？
                        username: u,
                        password: p,
                        userType: ut
                    }, //传给userMethods.cshtml时候的变量名称都是冒号前面的名字，冒号后面的就是上面取表单数据的临时变量的名称
                    type: "POST", //传出数据的方式
                    dataType: "TEXT", //这个其实是接收数据的格式，注意是接收到的数据，如果不是TEXT，处理就会出错
                    success: function(data) { //如果成功，也就是HTTP状态200了，拿回来的userMethods.cshtml吐出的数据，下面来处理它
                        if (data.trim() == "TOK") //要加上去空格，防止内容里面有空格引起错误
                        {
                            window.location.href = "rollcall_addnowtime"; //js跳转页面
                            }else if(data.trim() == "TFOK"){
                                window.location.href = "rollcall";
                            }
                             else if (data.trim() == "SOK"){
                                window.location.href = "ok.cshtml";
                                } else if (data.trim() == "tfail"){
                                    $("#tips").html("教职工用户名或密码错误");
                                    $("#tips").css("color","red");
                                    } else if (data.trim() == "sfail"){
                                        $("#tips").html("学生用户名或密码错误");
                                        $("#tips").css("color","orange");
                                    }
                                }
                                });
                });
            });
</script>
</head>

<body class="text-center">
<div class="form-signin">
<img class="mb-4" src="" alt="" width="72" height="72">
<h1 class="h3 mb-3 font-weight-normal" id="tips">请登录</h1>
<label for="username" class="sr-only">用户名</label>
<input type="text" class="form-control" name="username" id="username" placeholder="请输入账户~" required autofocus>
<label for="password" class="sr-only">密码</label>
<input type="password" class="form-control" name="password" id="password" placeholder="请输入密码~" required>
@*<label for="userType1">教职工</label><input type="radio" name="userType" id="userType1" value="1" checked="">
<label for="userType2">学生</label><input type="radio" name="userType" id="userType2" value="2" checked="">*@
<button class="btn btn-lg btn-primary btn-block" type="button" id="btnSubmit">登录</button>
<p class="mt-5 mb-3 text-muted">&copy; 2017-2018. </p>
</div>
</body>

</html>