@{
    Layout = "~/_xuejiLayout.cshtml";
    if (Session["name"] == null || Session["username"] == null)
    {
        Response.Redirect("~/login.cshtml");
    }
    var id = Request.QueryString["id"];
    var db = Database.Open("ctXueji");
    var list = "select *from majors where id = @0";
    var row = db.QuerySingle(list,id);
    if (IsPost)
    {
        var majors = Request.Form["majors"];
        var update = "update majors set majors_name=@0 where id=" + id;
        db.Execute(update, majors, id);
        Response.Redirect("~/majors");
    }
}
<form method="post" class="navbar-form">
    <strong>专业名称：</strong><br />
    <input class="form-control" type="text" id="majors" name="majors" value=@row.majors_name><br />
    <input class="btn btn-primary" type="submit" value="确认修改" />
</form>