@{
    Layout = "~/_xuejiLayout.cshtml";
    var db = Database.Open("ctXueji");
    if (Session["name"] == null || Session["username"] == null)
    {
        Response.Redirect("~/login.cshtml");
    }
    var list = "select *from majors";
}
@if (Convert.ToInt16(Session["authority"]) == 2)
{
    <a class="btn btn-info" href="~/majors_add.cshtml">新增专业</a>
}
<table id="table_id" class="display">
    <thead>
        <tr class="t">
            <th>专业ID</th>
            <th>专业名称</th>
            @if (Convert.ToInt16(Session["authority"]) == 2)
            {
                <th>操作</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in db.Query(list))
        {
            <tr class="t">
                <td class="center">@row.id</td>
                @if (Convert.ToInt16(Session["authority"]) == 2)
                {
                    <td class="center"><a href="~/majors_edit.cshtml?id=@row.id">@row.majors_name</a></td>
                }
                else
                {
                    <td class="center">@row.majors_name</td>
                }
                @if (Convert.ToInt16(Session["authority"]) == 2)
                {
                    <td class="center"><a class="btn btn-danger" href="~/majors_del.cshtml?id=@row.id">删除</a></td>
                }
            </tr>
        }
    </tbody>
</table>