@using System;
@using System.Collections.Generic;

@{
    Dictionary<int, int> rollcall = new Dictionary<int, int>();
    var db = Database.Open("ctXueji");
    if (Session["name"] == null || Session["username"] == null)
    {
        Response.Redirect("~/login.cshtml");
    }

    if (IsPost)
    {
        var students_id = Request.Form["students_id"];
        string temp1 = students_id;
        string[] temparry1 = temp1.Split(',');
        var courses_id = Request.Form["courses_id"];
        var classes_id = Request.Form["classes_id"];
        var list = "select * from teachers where teachers_name='" + Session["name"]+"'";
        var temp = db.QuerySingle(list);
        var time = Convert.ToString(DateTime.Now);
        var b = temparry1.Count();
        int h = DateTime.Now.Hour; //小时部分
        int m = DateTime.Now.Minute; //分钟部分7-8,9-10,12-13,14-15,16-17
        // Response.Write("<h1>小时是"+ h.ToString()+"分钟是"+m.ToString()+"</h1><br>");
        int tTrick= h*100+m;
        var check = db.QuerySingle("select * from rollcalldate");
        bool tTrickResult=(tTrick>=755 && tTrick<=815)||(tTrick>=955 && tTrick<=1015)||(tTrick>=1255 && tTrick<=1315)||(tTrick>=1455 && tTrick<=1515)||(tTrick>=1630 && tTrick<=1645);
        if (check.Checktime == 2)
        {
            tTrickResult = true;
        }


        var rollcallnow = "select* from rollcall where user_name='" + Session["name"] + "' order by time_stamp DESC";
        foreach (var rollcallNow in db.Query(rollcallnow))
        {
            DateTime histime = rollcallNow.time_stamp;
            if (histime.ToShortDateString()==DateTime.Now.ToShortDateString() && (Functions.lessonsNow() == Functions.historyNow(histime)) && Convert.ToInt16(classes_id) == rollcallNow.classes_id)
            {
                Response.Redirect("~/NowtimeEro");
            }
        }

        if (tTrickResult || Convert.ToInt16(temp.exempt) > 0)
        {
            if (Convert.ToInt16(temp.exempt) > 0)
            {
                var updateteachers = "update teachers set exempt=exempt-1 where teachers_name = '" + Session["name"] + "'";
                db.Execute(updateteachers);
            }
            for (int i = 0; i < b; i++)
            {
                int t = i + 1;
                var statu = Request.Form["statu_" + t];
                rollcall.Add(Convert.ToInt16(temparry1[i]), Convert.ToInt16(statu));
            }

            string DictionaryTostring = Functions.DictionaryToString(rollcall);
            var addRollcall = "insert into rollcall (courses_id,classes_id,time_stamp,sid_state,user_power,user_name) values(@0,@1,@2,@3,@4,@5)";//students_id + state => sid_state
            db.Execute(addRollcall, courses_id, classes_id, time, DictionaryTostring, Convert.ToInt16(Session["authority"]), Convert.ToString(Session["name"]));//字典转字符
            Response.Redirect("~/jump.cshtml");
        }
        else
        {
            // Response.Redirect("~/jumper?"+tTrick.ToString());
            Response.Write(tTrick);
            Response.Write("<br>");
            Response.Write(tTrickResult);
            Response.Write("<br>");
        }
    }
}