@{
    Layout = "~/_xuejiLayout.cshtml";
    if (Session["name"] == null || Session["username"] == null)
    {
        Response.Redirect("~/login.cshtml");
    }
    var id = Request.QueryString["id"];
    var db = Database.Open("ctXueji");
    var list = "select *from teachers where id=@0";
    var row = db.QuerySingle(list, id);
    var majorsList = "select * from majors";
    int i = 1;

    if (IsPost)
    {
        var name = Request.Form["name"];
        var type = Request.Form["type"];
        var major = Request.Form["major"];

        var update = "update teachers set teachers_name ='"+name+"',teachers_type="+type+",majors_id='"+major+"' where id = " + id;
        db.Execute(update);
        Response.Redirect("~/teachers");
    }
}
<form method="post" class="navbar-form">
    <strong>教师姓名：</strong><br />
    <input class="form-control" type="text" id="name" name="name" value=@row.teachers_name><br />
    <strong>职能</strong><br />
    <select class="form-control" id="type" name="type">
        <option value=2 @if (row.teachers_type == 2) { @: selected="selected"
                }>
            辅导员
        </option>
        <option value=1 @if (row.teachers_type == 1) { @: selected="selected"
                }>
            讲师
        </option>
        <option value=3 @if (row.teachers_type == 3) { @: selected="selected"
                }>
            辅导员+讲师
        </option>
    </select><br /><br />
    <strong>教师所涉及的专业：</strong><br />
    @foreach (var major in db.Query(majorsList))
    {

        <input type="checkbox" @if (Functions.teachermajors(row.majors_id, major.id)) { @: checked="checked"
               } id="major_@i" name="major" value=@major.id>
        <label for="major_@i">@major.majors_name</label>
        i++;
    }
    <input class="btn btn-primary" type="submit" value="确认添加" />
</form>